<script src="//maps.google.com/maps/api/js?key=AIzaSyCp5ZLMmxEH6dtxWB8Ni20RWLMZIDuthsE"></script>

<!-- active_admin_form_for zone do |f|
  inputs :name, :description
  actions
end -->

<%= semantic_form_for [:admin, @zone] do |f| %>
  <%= f.inputs "Básico" do %>
  	<%= f.input :name, :label => "Nombre" %>
  	<%= f.input :price, :label => "Monto" %>
  	<%= f.input :description, :label => "Descripción" %>
  	<%= f.input	:dots, :label => "Coordenadas de la Zona" %>
  <% end %>
  <br>

	<%= f.inputs "Area en el Mapa" do %>
		<%= yield :scripts %>
		<div id="basic_map" style='height: 350px;'></div>
	<% end %>

  <%= f.actions %>
<% end %>


<script>
$( document ).ready(function() {

    console.log( "ready!" );
    $("#zone_dots").prop('disabled', true);
    var puntos = $("#zone_dots").val();

    handler = Gmaps.build('Google');
	mapita = handler.buildMap({
			internal: {id: 'basic_map'},
			provider: {
				center: new google.maps.LatLng(-33.453703,-70.633799),
				zoom: 13
			}
		}, function(){
			var poligono = [];
			// Aqui van todas las funciones del mapa
			if (puntos.length > 0){
				alert("no existe ninguna zona demarcada");
				drawZoneArea(puntos);
			}
			drawZoneArea(puntos);

			function drawZoneArea(coords){
				var triangleCoords = [
					{"lat": 25.774, "lng": -80.190},
					{"lat": 18.466, "lng": -66.118},
					{"lat": 32.321, "lng": -64.757},
					{"lat": 25.774, "lng": -80.190}
				];
				console.log(triangleCoords);
				poligono = handler.addPolygons(triangleCoords);
				console.log(poligono);
				handler.bounds.extendWith(poligono);
			}


		}
	);
});
</script>