<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Listado de Ordenes</h1>
			<select class="selectpicker text-center" id="order_status_search">
				<option value="all">-- Todos --</option>
				<option value="new">Nuevo</option>
				<option value="paid">Pagado</option>
			</select>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<table class="table table-hover table-striped">
				<thead id="products_table_head">
					<tr>
					<th class="text-center">Numero de Orden</th>
					<th class="text-center">Fecha</th>
					<th class="text-center">Cliente</th>
					<th class="text-center">Monto</th>
					<th class="text-center">Estado</th>
<!-- 					<th class="text-center">Motorista</th> -->
					<th class="text-center">Detalle</th>
					</tr>
				</thead>
				<tbody id="products_table_body">
					<% @orders.each do |o| %>
						<tr>
							<td class="text-center"><%= o.id %></td>
							<td class="text-center"><%= o.created_at %></td>
							<td class="text-center"><%= o.client.name %> <%= o.client.lastname %></td>
							<td class="text-center">$<%= o.total %></td>
							<td class="text-center">
								<% if (o.payment == nil) %>
									Pendiente
								<% else %>
									Pagado
								<% end %>
							</td>
							<td class="text-center">
								<%= link_to client_order_path(o.client,o), class: "btn btn-info" do %>
									<i class="glyphicon glyphicon-search"></i>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

		</div>

	</div>



</div>



<script>

document.addEventListener("turbolinks:load",function(){
	$(".selectpicker").selectpicker();

	$("#order_status_search").change(function() {
		searchOrdersByStatus($("#order_status_search").val());
	});


	function searchOrdersByStatus(estado){
		$.post('/get_orders_by_status?status='+estado,function(data){
			if (data.order_exist == true){
				drawOrdersFromStatus(data.orders_status);
			}else{
			alert("no existen ordenes con el estado seleccionado");
			}
		});
	}

	function drawOrdersFromStatus(ordenes){
		$("#products_table_body").html("");
		$("#products_table_head").html("");

		$("#products_table_head").append('<tr>');
		$("#products_table_body").append('<th class="text-center">Numero de Orden</th>');
		$("#products_table_body").append('<th class="text-center">Fecha</th>');
		$("#products_table_body").append('<th class="text-center">Monto</th>');
		$("#products_table_body").append('<th class="text-center">Detalle</th>');
		$("#products_table_body").append('</tr>');

	ordenes.forEach(function (o){
		$("#products_table_body").append('<tr>');
		$("#products_table_body").append('<td class="text-center">'+ o.id +'</td>');
		$("#products_table_body").append('<td class="text-center">'+ o.created_at +'</td>');
		$("#products_table_body").append('<td class="text-center">$'+ o.total +'</td>');
		$("#products_table_body").append('<td class="text-center"><a href="'+'/clients/'+o.client_id+'/orders/'+o.id+'">Ver Detalle</a></td>');
		$("#products_table_body").append('</tr>');
	});




	}

});

document.addEventListener("turbolinks:before-cache",function(){
	$(".selectpicker").selectpicker('destroy').addClass('selectpicker');
});


</script>