<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		
			<div class="panel panel-default">
				<h2 class="text-center">Nueva Orden</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center">Datos Cliente</h4>
				</div>
			</div>

			<%= render @client %>

		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center">Seleccionar Productos</h4>
				</div>
			</div>
			<label> Buscar por Categoría:
				<select class="selectpicker" data-live-search="true" id="category_select_search_input">
					<option data-tokens="" value="all">-- Todos --</option>
					<% @categories.order(:name).each do |cat| %>
						<option data-tokens="<%= cat.name %>" value="<%= cat.id %>"><%= cat.name %>: <%= cat.description %></option>
					<% end %>
				</select>
			</label>

			<div class="table-responsive">
				<table class="table table-hover table-sm" id="products_list_table">
				  <thead id="products_list_table_head">
				    <tr>
				      <th>Nombre</th>
				      <th>Descripción</th>
				      <th>Precio</th>
				      <th>Referencia</th>
				      <th>Acción</th>
				    </tr>
				  </thead>
				  <tbody id="products_list_table_body">
					<% @products.order(:name).each do |pro| %>
						<tr>
							<td><%= pro.name %></td>
							<td><%= pro.description %></td>
							<td><%= pro.price %></td>
							<td><img class="img-responsive" src="<%= pro.picture %>" alt="" style="height: 50px;"></td>
							<td><button onclick="deleteProductFromPreOrder('<%= pro.id %>');"><i class="glyphicon glyphicon-minus"></i></button>|<button onclick="addProductToPreOrder('<%= pro.id %>','<%= pro.name %>','<%= pro.price %>');"><i class="glyphicon glyphicon-plus"></i></button>
							</td>
						</tr>
					<% end %>
				  </tbody>
				</table>
			</div>

		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="text-center">Resumen</h4>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover table-sm" id="order_products_table">
				  <thead id="order_products_table_head">
				    <tr>
				      <th>#</th>
				      <th>Nombre</th>
				      <th>Cantidad</th>
				      <th>Monto Unidad</th>
				      <th>Subtotal</th>
				      <th>Acción</th>
				    </tr>
				  </thead>
				  <tbody id="order_products_table_body">
				  </tbody>
				</table>
			</div>
			<div id="check_out_order_space">
				<h4 class="text-center">RESUME</h4>
				<table class="table">
					<thead>
						<th class="text-center">Descripción</th>
						<th class="text-center">Monto</th>
					</thead>
					<tbody>
						<!-- On rows -->
						<tr class="info" id = "products_amount">
						</tr>
						<tr class="warning" id = "zone_amount">
						</tr>
						<tr class="success" id = "total_amount">
						</tr>
					</tbody>
				</table>
				<div class="col-md-2 col-md-offset-4">
					<button type="submit" class="btn btn-warning" onclick="processOrder();">Procesar Orden</button>
				</div>
				
			</div>
			
		</div>
	</div>
</div>





<script>

// FUNCIONES FUERA DE JQUERY
var preorderproducts =[];
var zoneselected ={};
var final_client_phone ="";

function addProductToPreOrder(id,name,price){
	var nuevo = true;

	if (preorderproducts.length == 0){
		preorderproducts.push({id: id,qty: 1, name: name, price: price});
		nuevo = false;

	}else {
		preorderproducts.forEach(function(p){
			if (p.id == id){
				p.qty = p.qty + 1;
				nuevo = false;
			}
		});
	}

	if (nuevo == true){
		preorderproducts.push({id: id,qty: 1, name: name, price: price});
	}

	drawPreOrderList();
}


function deleteProductFromPreOrder(id){

	if (preorderproducts.length == 0){
	}else {
		preorderproducts.forEach(function(p){
			if (p.id == id){
				p.qty = p.qty - 1;
				if (p.qty == 0){
					for(var i = 0; i < preorderproducts.length; i++) {
					    if(preorderproducts[i].id == id) {
					        preorderproducts.splice(i, 1);
					        break;
					    }
					}
				}
			}
		});
	}

	drawPreOrderList();
}

function removeWholeProductFromPreOrder(id){
	for(var i = 0; i < preorderproducts.length; i++) {
	    if(preorderproducts[i].id == id) {
	        preorderproducts.splice(i, 1);
	        break;
	    }
	}
	drawPreOrderList();
}

function drawPreOrderList(){
	console.log(preorderproducts);
	$("#order_products_table_body").html("");
	$("#products_amount").html("");
	$("#zone_amount").html("");
	$("#total_amount").html("");

	var productstotal = 0;
	var alltotal = 0;


	preorderproducts.forEach(function (p,i){
		price = parseInt(p.price);
		if (p.price == ""){
			price = 0;
		}
		var subtotal = parseInt(p.qty) * price;
		price = price.toFixed(2).replace(/./g, function(c, i, a) {
			return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
		});
		
		productstotal += subtotal;
		subtotal = subtotal.toFixed(2).replace(/./g, function(c, i, a) {
			return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
		});
		

		$("#order_products_table_body").append('<tr>');
		$("#order_products_table_body").append('<td class="text-center">'+ (parseInt(i) + 1) +'</td>');
		$("#order_products_table_body").append('<td class="text-center">'+ p.name +'</td>');
		$("#order_products_table_body").append('<td class="text-center">'+ p.qty +'</td>');
		$("#order_products_table_body").append('<td class="text-center">$'+ price +'</td>');
		$("#order_products_table_body").append('<td class="text-center">$'+ subtotal +'</td>');
		$("#order_products_table_body").append('<td class="text-center"><button onclick="removeWholeProductFromPreOrder('+p.id+');"><i class="glyphicon glyphicon-remove"></i></button></td>');
		$("#order_products_table_body").append('</tr>');

	});

	var precioZona = parseInt(zoneselected.price);
	if (zoneselected.price == null){
		precioZona = 0;
	}
	alltotal = productstotal + precioZona;

	alltotal = alltotal.toFixed(2).replace(/./g, function(c, i, a) {
		return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
	});

	productstotal = productstotal.toFixed(2).replace(/./g, function(c, i, a) {
		return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
	});

	precioZona = precioZona.toFixed(2).replace(/./g, function(c, i, a) {
		return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
	});



	$("#products_amount").append('<td class="text-center">Monto por productos seleccionados:</td>');
	$("#products_amount").append('<td class="text-center">$'+ productstotal +'</td>');
	$("#zone_amount").append('<td class="text-center">Monto zona de entrega:</td>');
	$("#zone_amount").append('<td class="text-center">$'+ precioZona +'</td>');
	$("#total_amount").append('<td class="text-center text-uppercase"><strong>Total a monto a pagar:</strong></td>');
	$("#total_amount").append('<td class="text-center"><strong>$'+ alltotal +'</strong></td>');
}

function processOrder(){

	if (final_client_phone == ""){
		alert("Debes agregar un cliente a quien despachar");
	}else {
		$.post('/orders?zonaid='+zoneselected.id+'&phone='+final_client_phone+'&products='+JSON.stringify(preorderproducts),function(data){
			console.log(data);
		});
	}



}


	document.addEventListener("turbolinks:load",function(){

	// INICIALIZAR
	var mapita;
	

	// SCRIPT PARA LOS MAPAS /////////////////////////////
	if ($("#new_client_map").length > 0){

		$.getScript("//maps.google.com/maps/api/js?key=AIzaSyCp5ZLMmxEH6dtxWB8Ni20RWLMZIDuthsE&libraries=geometry").success(function(){


			$.getScript("//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js").success(function(){

				$.getScript("//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js").success(function(){
					var created_elements = [];
					initMap();

					function initMap(){
						mapita = new google.maps.Map(document.getElementById('new_client_map'), {
							zoom: 13,
							center: {lat: -33.453703, lng: -70.633799}
						});
					}

					// SCRIPT PARA LOS CALLBACKS /////////////////////////////
					$("#create_client_button").prop('disabled', true);

					$("#client_phone").keypress(function(e) {
					    if(e.which == 13) {
					        searchClientByNumber($("#client_phone").val());
					    }
					});

					$("#client_address").keypress(function(e) {
					    if(e.which == 13) {
					        loadMarkerIntoMap($("#client_address").val());
					    }
					});
					$("form").keypress(function (e) {
					    if (e.which == 13) {
					        return false;
					    }
					});

					$("#category_select_search_input").change(function() {
						searchProductsFromCategory($("#category_select_search_input").val());
					});

					
					// $("#new_client").submit(function(e) {
					// 	e.preventDefault();
					// });
					mapita.addListener("rightclick", function(evt) {

						if (confirm('¿Estas seguro de que quieres cambiar la ubicación del usuario?')) {
							alert("Nueva ubicación de usuario");
							var mylatlang = evt.latLng;
							var lati = mylatlang.lat();
							var long = mylatlang.lng();
							$("#client_latitude").val(lati);
							$("#client_longitude").val(long);
							setClientMarker(lati,long);
							loadAddressIntoInputField(lati,long);
						}
					});


					
					// SCRIPT PARA LAS FUNCIONES ////////////////////////////////
					function clearMapBefore(){
						for (var i = 0; i < created_elements.length; i++) {
							created_elements[i].setMap(null);
						}
						created_elements =[];
					}

					function clearInputClientFields(){
						$("#client_name").val("");
						$("#client_lastname").val("");
						$("#client_email").val("");
						$("#client_rut").val("");
						$("#client_remark").val("");
						$("#client_address").val("");
						$("#latitudelabel").html("");
						$("#longitudelabel").html("");
						final_client_phone ="";
						clearMapBefore();
					}

					function loadAddressIntoInputField(lati,long){
						var latilong = new google.maps.LatLng(lati,long);
						var geocoder = new google.maps.Geocoder;

						geocoder.geocode({'location':latilong},function(results, status){
							if (status === 'OK'){
								if (results[0]){
									$("#client_address").val(results[0].formatted_address);
								}else{
									window.alert("No se encuentran direcciones con esas coordenadas");
								}
							}else{
								window.alert('Geocoder failed due to: ' + status);
							}
						});
					}

					function loadMarkerIntoMap(string){
						var geocoder = new google.maps.Geocoder;
						geocoder.geocode( { 'address': string}, function(results, status) {
						  if (status == 'OK') {
						    mapita.setCenter(results[0].geometry.location);
						    var marker = new google.maps.Marker({
						        map: mapita,
						        position: results[0].geometry.location
						    });
						    created_elements.push(marker);
							var latitu = marker.getPosition().lat();
							var longit = marker.getPosition().lng();
							setClientMarker(latitu,longit);
						    mapita.setCenter(results[0].geometry.location);
						  } else {
						    alert('Error estableciendo el marcador' + status);
						  }
						});
					}


					function searchClientByNumber(numero){
						if ((numero.charAt(0)=="0") && (numero.length == 13)){
							$.post('/checknumber?phone='+numero,function(data){
								if (data.client_exist == true){
									loadClientInfo(data.client[0]);
									$("#create_client_button").prop('disabled', true);
								}else{
									clearInputClientFields();
									$("#create_client_button").prop('disabled', false);
									alert("Es un cliente nuevo");
								}
							});
						}
					}

					function loadClientInfo(cliente){
						$("#client_name").val(cliente.name);
						$("#client_lastname").val(cliente.lastname);
						$("#client_email").val(cliente.email);
						$("#client_rut").val(cliente.rut);
						$("#client_remark").val(cliente.remark);
						$("#client_address").val(cliente.address);
						$("#latitudelabel").html(cliente.latitude);
						$("#longitudelabel").html(cliente.longitude);
						final_client_phone = cliente.phone;
						setClientMarker(cliente.latitude,cliente.longitude);
					}

					function setClientMarker(lati,long){
						clearMapBefore();
						var myLatLng = {lat: lati, lng: long};
						var marker = new google.maps.Marker({
						    position: myLatLng,
						    map: mapita
						  });
						created_elements.push(marker);
						mapita.setCenter(marker.getPosition());
						var estaen = {};
						var poligono;
						var curPosition = new google.maps.LatLng(lati,long);
						zonas = <%= raw @zones.to_json %>;
						zonas.forEach(function(zona){
							var todraw = getPointsArray(zona.dots);
							drawPolygon(todraw, zona.name, zona.price, zona.id);

							if (google.maps.geometry.poly.containsLocation(curPosition, poligono) == true){
								if (estaen.length > 0){
									if (estaen.price > zona.price){
										estaen = zona;
									}
								}else{
									estaen = zona;	
								}
							}
						})
						$("#latitudelabel").html(lati);
						$("#longitudelabel").html(long);
						console.log(estaen);
						zoneselected = estaen;
						drawPreOrderList();


						function getPointsArray(recibido){
											var arraypuntos = [];
											var puntos = recibido;
											if (puntos == null){
												return;
											}
											var corarr =[];
											var cadena ="";
											var estado ="";

											var olat = 0;
											var olon = 0;

											var objeto ={};

											for (var i = 0; i < puntos.length; i++){
												var guardar = false;
												if (puntos[i] == "("){
													estado = "iniciolatitude";
													guardar = false;
												}

												if (puntos[i] == ","){
													estado = "iniciolongitude";
													if (cadena.length > 0){	
														corarr.push(cadena);
													}
													cadena="";
													guardar = false;
												}

												if (puntos[i] == ")"){
													estado = "fin";
													corarr.push(cadena);
													
													cadena="";
													guardar = false;

													olat = parseFloat(corarr[0]);
													olon = parseFloat(corarr[1]);
													corarr = [];

													// objeto = new google.maps.LatLng(olat,olon); 
													objeto = {lat: olat, lng: olon};
													arraypuntos.push(objeto);
													objeto={};
													estado=""

												}

												if ((puntos[i] != "(") & (puntos[i] != ",") & (puntos[i] != ")") & (puntos[i] != " ")){
													guardar = true;
												}

												if (guardar == true){
													cadena += puntos[i];
												}
											}

											puntos = arraypuntos;
											return puntos;
						}

						function drawPolygon(obj,name,price,zoneid){
					        poligono = new google.maps.Polygon({
					          paths: obj,
					          strokeColor: '#FF0000',
					          strokeOpacity: 0.8,
					          strokeWeight: 2,
					          fillColor: '#FF0000',
					          fillOpacity: 0.35
					        });
					        created_elements.push(poligono);
					        poligono.setMap(mapita);
							infoWindow = new google.maps.InfoWindow;
							poligono.addListener('click', function(e){
								infoWindow.setContent('<b>Nombre: '+ name +'</b><br>'+'Precio: '+price+'</br><br>'+'Ver: '+ '<a href="/zones/'+zoneid+'">Enlace</a>' + '</br>');
								infoWindow.setPosition(e.latLng);

								infoWindow.open(mapita);
							});
						}
					}

					function searchProductsFromCategory(categoryid){
						$.post('/get_category_products?category='+categoryid,function(data){
							if (data.product_exist == true){
								drawProductsFromCategory(data.category_products);
							}else{
								alert("no existen productos en la categoria seleccionada");
							}
						});
					}

					function drawProductsFromCategory(productos){
						$("#products_list_table_body").html("");

						productos.forEach(function (p){
							var precio = 0;
							if (p.price != null){
								precio = p.price;
							}
							$("#products_list_table_body").append('<tr>');
							$("#products_list_table_body").append('<td>'+ p.name +'</td>');
							$("#products_list_table_body").append('<td>'+ p.description +'</td>');
							$("#products_list_table_body").append('<td>'+ precio +'</td>');
							$("#products_list_table_body").append('<td><img class="img-responsive" src="'+ p.picture.url +'" alt="" style="height: 50px;">');
							$("#products_list_table_body").append('<td><button onclick="deleteProductFromPreOrder('+p.id+');"><i class="glyphicon glyphicon-minus"></i></button>|<button onclick="addProductToPreOrder('+p.id+',\''+p.name+'\','+p.price+');"><i class="glyphicon glyphicon-plus"></i></button></td>');
							$("#products_list_table_body").append('</tr>');
						});
					}


				});

			});

		});
	}








});


</script>
