<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center"><%= @order.client.name %> <%= @order.client.lastname %></h2>
			<h3 class="text-center"><%= @order.client.phone %></h3>
			<p class="text-center"><%= @order.client.address %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h4 class="text-center">Productos</h4>
			<table class="table table-hover">
				<thead>
					<tr>
					<th class="text-center">Nombre</th>
					<th class="text-center">Monto Unidad</th>
					</tr>
				</thead>
				<tbody id="products_table_body">
					<% @productosdeorden.each do |p| %>
						<tr>
							<td class="text-center"><%= p.name %></td>
							<td class="text-center">$<%= p.price %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

		</div>

		<div class="col-md-6">
			<h4 class="text-center">Totales</h4>
			<table class="table">
				<thead>
					<tr>
					<th class="text-center">Descripcion</th>
					<th class="text-center">Monto</th>
					</tr>
				</thead>
				<tbody id="products_table_body">
					<tr class="info">
						<td class="text-center">Monto por porductos</td>
						<td class="text-center">$<%= @totalproductos %></td>
					</tr>
					<tr class="warning">
						<td class="text-center">Monto por delivery</td>
						<td class="text-center">$<%= @order.zone.price %></td>
					</tr>
					<tr class="success">
						<td class="text-center"><strong>Monto TOTAL</strong></td>
						<td class="text-center"><strong>$<%= @order.total %></strong></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">Numero de Orden: <%= @order.id %></p>
					<p class="text-center">Fecha de Orden: <%= @order.created_at %></p>
					<p class="text-center">Estado de orden:<strong> 
					<% if (@order.payment == nil) %>
						Pendiente
					<% else %>
						Pagado
					<% end %></strong>
					</p>
					<% if (@order.payment == nil) %>
						<%= link_to "Procesar Pago", client_order_payments_path(@client,@order), :class => "btn btn-success center-block", :method => "post" %>
					<% end %>
				</div>
			</div>


		</div>
	</div>
</div>