<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1 class="text-center">CATEGORÍAS</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<table class="table table-hover">
				<thead>
					<tr>
					<th class="text-center">#</th>
					<th class="text-center">Nombre</th>
					<th class="text-center">Descripción</th>
					<th class="text-center">Cantidad Productos</th>
					<th class="text-center">Acción</th>
					</tr>
				</thead>
				<tbody>
					<% @categories.order(:id).each do |c| %>
						<tr>
						<th scope="row" class="text-center"><%= c.id %></th>
						<td class="text-center"><%= c.name %></td>
						<td class="text-center"><%= c.description %></td>
						<td class="text-center"><%= c.products.count %></td>
						<td class="text-center"><%= link_to "Ver", category_path(c), :class => "btn btn-success", :method => "get" %> | <%= link_to "Editar", edit_category_path(c), :class => "btn btn-info", :method => "get" %> | <%= link_to "Eliminar", category_path(c), :class => "btn btn-danger", :method => "delete" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>